{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/buyback.css' %}">
<title>Special Taxes - Deep Core Industry</title>
{% endblock %}

{% block title %}
Special Taxes
{% endblock %}

{% block navbar_menu %}
{% if request.user|has_group:"Admin" %}
<ul class="nav navbar-nav sub-nav">
    <li class="nav-item sub-item">
        <a href="/sso/manager/login/" class="btn btn-primary">Setup Manager</a>
    </li>
    <li class="nav-item sub-item">
        <a href="/buybackprogram/locations/" class="btn btn-primary">Locations</a>
    </li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
<div class="my-3">
    <div class="card">
        <div class="card-header">
            Program Special Taxes
            {% if request.user|has_group:"Admin" %}
            <div class="float-end">
                <a href="/buybackprogram/{{program.id}}/special_taxes/add/" class="btn btn-sm btn-primary">
                    <i class="bi bi-plus-circle"></i>
                </a>
            </div>
            {% endif %}
        </div>
        <div class="card-body">
            <p style="margin-top: 5px;">
                This section shows all special item taxes applied to this program. Taxes may either be additional taxes
                or discounts.
            </p>
            <table class="table table-striped table-hover no-footer w-100">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th style="text-align: center;">Tax adjustment</th>
                        <th style="text-align: center;">Total Tax</th>
                        <th style="text-align: center;">Is allowed</th>
                        {% if request.user|has_group:"Admin" %}
                        <th style="text-align: center;">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in special_taxes %}
                    <tr>
                        <td>
                            <img class="rounded" src="https://images.evetech.net/types/{{item.item_id}}/icon?size=32">
                        </td>
                        <td>{{item.item_name}}</td>
                        <td style="text-align: center;">{{item.special_tax}}%</td>
                        <td style="text-align: center;">{{item.total_tax}}%</td>
                        <td style="text-align: center;">
                            {% if item.is_allowed %}
                                <i class="bi bi-check-lg" style="color:green"></i>
                            {% else %}
                                <i class="bi bi-x" style="color:red"></i>
                            {% endif %}
                        </td> 
                        {% if request.user|has_group:"Admin" %}
                        <td style="text-align: center;">
                            <a href="/buybackprogram/{{program.id}}/special_taxes/{{item.id}}/del/" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}