{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
<link rel="stylesheet" href="{% static 'css/buyback.css' %}">
<title>Shop Items - Deep Core Industry</title>
{% endblock %}

{% block title %}
Shop Items
{% endblock %}

{% block navbar_menu %}
<ul class="nav navbar-nav me-auto">
    <li class="nav-item">
        <a href="/shop/orders/history/" class="nav-link py-0">
            <span class="btn btn-secondary">Orders History</span>
        </a>
    </li>
</ul>
<ul class="nav navbar-nav">
    {% if request.user|has_group:"Admin" %}
    <li class="nav-item py-0 ms-2">
        <a href="/shop/orders/history/admin/" class="nav-link py-0">
            <span class="btn btn-primary">View all Orders</span>
        </a>
    </li>
    <li class="nav-item py-0 ms-2">
        <a href="/shop/orders/" class="nav-link py-0">
            <span class="btn btn-primary">Pending Orders</span>
        </a>
    </li>
    <li class="nav-item py-0 ms-2">
        <a href="/shop/items/" class="nav-link py-0">
            <span class="btn btn-primary">Modify Products</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="my-3">
    <div class="card">
        <div class="card-header">
            Items Sell Orders
            <div class="float-end">
                <a href="/shop/items/add/" class="btn btn-sm btn-primary">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </div>
        </div>
        <table class="table table-striped table-hover no-footer w-100" style="width: 100%; margin: auto;">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Item Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list_items %}
                <tr>
                    <td>
                        <img src="https://image.eveonline.com/Type/{{item.item_id}}_32.png" class="rounded">
                    </td>
                    <td class="text-center">
                        {{item.item_name}}
                    </td>
                    <td class="text-center">
                        {{item.quantity}}
                    </td>
                    <td class="text-center">
                        {{item.price|format_number}} ISK
                    </td>
                    <td class="text-center">
                        {% if item.status %} 
                        <span class="btn btn-success btn-sm">
                            <i class="bi bi-check2"></i>
                        </span>
                        {% else %}
                        <span class="btn btn-sm btn-danger">
                            <i class="bi bi-x-lg"></i>
                        </span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="/shop/items/{{item.item_id}}/edit/" class="btn btn-sm btn-warning" title="Edit {{item.item_name}} Order">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="/shop/items/{{item.item_id}}/del/" class="btn btn-sm btn-danger" title="Remove {{item.item_name}} Order">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}