{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/buyback.css' %}">
<title>Special Taxes - Deep Space Industries</title>
{% endblock %}

{% block title %}
Special Taxes
{% endblock %}

{% block navbar_menu %}
<ul class="nav navbar-nav sub-nav">
    <li class="nav-item sub-item">
        <a href="/manager/login/" class="btn btn-primary">Setup Manager</a>
    </li>
    <li class="nav-item sub-item">
        <a href="/locations/" class="btn btn-primary">Locations</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="my-3">
    <div class="card">
        <div class="card-header">
            Add Special Taxes
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="items_name" class="form-label">Item List ID</label>
                    <textarea style="resize: none;" class="form-control" name="items_name" id="items_name" rows="5"
                        placeholder="Ragnarok&#10;Arkonor&#10;..."></textarea>
                    <small class="form-text text-muted">
                        Follow the format inside the text box
                    </small>
                </div>
                <div class="form-group">
                    <label for="special_tax" class="form-label">Special Tax (%)</label>
                    <input type="number" name="special_tax" id="special_tax" class="form-control" min="-{{program.tax}}"
                        max="{{program.max_tax}}" placeholder="(-{{program.tax}})% - {{program.max_tax}}%" required>
                    <small class="form-text text-muted">
                        The special tax is apply to the all items you introduce in the first text box
                    </small>
                </div>
                <div class="form-group">
                    <label for="allowed" class="form-label">Is allowed</label>
                    <select name="allowed" id="allowed" class="form-select">
                        <option value="" disabled selected>Select one option</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
                <div class="d-grid gap-2 my-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}