{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
<link rel="stylesheet" href="{% static 'css/buyback.css' %}">
<title>Shop - Deep Space Industries</title>
{% endblock %}

{% block title %}
Shop Orders
{% endblock %}

{% block navbar_menu %}
<ul class="nav navbar-nav me-auto">
    <li class="nav-item">
        <a href="" class="nav-link py-0">
            <span class="btn btn-secondary">Orders History</span>
        </a>
    </li>
</ul>
<ul class="nav navbar-nav">
    {% if request.user|has_group:"Admin" %}
    <li class="nav-item py-0 ms-2">
        <a href="/shop/orders/" class="nav-link py-0">
            <span class="btn btn-primary">View Orders</span>
        </a>
    </li>
    <li class="nav-item py-0 ms-2">
        <a href="/shop/items/" class="nav-link py-0">
            <span class="btn btn-primary">Modify Products</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="my-3">
    <div class="card">
        <div class="card-header">
            Order History
        </div>
        <table class="table table-hover table-striped no-footer w-100" style="width: 100%; margin: auto;">
            <thead>
                <tr>
                    <th>Order_id</th>
                    <th>Character Name</th>
                    <th>Items</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for order in list_orders %}
                <tr>
                    <td style="vertical-align: middle;">{{order.order_id}}</td>
                    <td style="vertical-align: middle;">{{order.user.username}}</td>
                    <td style="vertical-align: middle;">
                        <table class="table table-hover table-striped no-footer w-100" style="width: 100%; margin: auto;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th>Price / Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order_item in order.order_items.all %}
                                    <tr>
                                        <td><img src="https://image.eveonline.com/Type/{{order_item.item.item_id}}_32.png" class="rounded"></td>
                                        <td>{{order_item.item.item_name}}</td>
                                        <td>{{order_item.quantity}}</td>
                                        <td>{{order_item.item.price|format_number}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td style="vertical-align: middle;" >{{order.total_price|format_number}} ISK</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}