{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
<link rel="stylesheet" href="{% static 'css/buyback.css' %}">
<title>Shop - Deep Space Industry</title>
{% endblock %}

{% block title %}
{{project.name}}
{% endblock %}

{% block navbar_menu %}
<ul class="nav navbar-nav sub-nav">
    {% if request.user|has_group:"Admin" %}
    <li class="nav-item py ms-2">
        <a href="/projects/add/" class="nav-link-py-0">
            <span class="btn btn-primary">Create New Project</span>
        </a>
    </li>
    <li class="nav-item py ms-2">
        <a href="" class="nav-link-py-0">
            <span class="btn btn-primary">Edit Projects</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="my-3">
    
</div>
{% endblock %}