{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
<link rel="stylesheet" href="{% static 'css/buyback.css' %}">
<title>Shop - Deep Core Industries</title>
{% endblock %}

{% block title %}
Shop Orders
{% endblock %}

{% block navbar_menu %}
<ul class="nav navbar-nav me-auto">
    <li class="nav-item">
        <a href="/shop/orders/history/" class="nav-link py-0">
            <span class="btn btn-secondary">Orders History</span>
        </a>
    </li>
</ul>
<ul class="nav navbar-nav">
    {% if request.user|has_group:"Admin" %}
    <li class="nav-item py-0 ms-2">
        <a href="/shop/orders/history/admin/" class="nav-link py-0">
            <span class="btn btn-primary">View all Orders</span>
        </a>
    </li>
    <li class="nav-item py-0 ms-2">
        <a href="/shop/orders/" class="nav-link py-0">
            <span class="btn btn-primary">Pending Orders</span>
        </a>
    </li>
    <li class="nav-item py-0 ms-2">
        <a href="/shop/items/" class="nav-link py-0">
            <span class="btn btn-primary">Modify Products</span>
        </a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="my-3">
    <div class="card mb-3">
        <div class="card-header">
            Resume
        </div>
        <div class="card-body">
            <table class="table table-hover table-striped no-footer w-100" style="width: 100%; margin: auto;">
                <tbody>
                    <tr>
                        <td><strong>Total Pending Orders</strong>:</td>
                        <td>{{pending_orders}}</td>
                        <td><strong>Total Value</strong>:</td>
                        <td>{{pending_orders_value|format_number}} ISK</td>
                    </tr>
                    <tr>
                        <td><strong>Total Orders</strong>:</td>
                        <td>{{list_orders|length}}</td>
                        <td><strong>Total Value</strong>:</td>
                        <td>{{total_value|format_number}} ISK</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Order History
        </div>
        <table class="table table-hover table-striped no-footer w-100" style="width: 100%; margin: auto;">
            <thead>
                <tr>
                    <th>Order_id</th>
                    <th>Character Name</th>
                    <th>Status</th>
                    <th>Items</th>
                    <th>Total Price</th>
                    {% if request.user|has_group:"Admin" %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for order in list_orders %}
                <tr>
                    <td style="vertical-align: middle;">{{order.order_id}}</td>
                    <td style="vertical-align: middle;">{{order.user.username}}</td>
                    <td style="vertical-align: middle;">
                        {% if order.status == 0 %}
                            <span class="btn btn-sm btn-primary">Pending</span>
                        {% elif order.status == 1 %}
                            <span class="btn btn-sm btn-warning">In Progress</span>
                        {% elif order.status == 2 %}
                            <span class="btn btn-sm btn-success">Completed</span>
                        {% elif order.status == 3 or order.status == 4 %}
                            <span class="btn btn-sm btn-danger">Cancelled</span>
                        {% else %}
                            <span class="btn btn-sm btn-secondary">Unknown</span>
                        {% endif %}
                    </td>
                    <td style="vertical-align: middle;">
                        <table class="table table-hover table-striped no-footer w-100" style="width: 100%; margin: auto;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th>Price / Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order_item in order.order_items.all %}
                                    <tr>
                                        <td><img src="https://image.eveonline.com/Type/{{order_item.item.item_id}}_32.png" class="rounded"></td>
                                        <td>{{order_item.item.item_name}}</td>
                                        <td>{{order_item.quantity}}</td>
                                        <td>{{order_item.item.price|format_number}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td style="vertical-align: middle;" >{{order.total_price|format_number}} ISK</td>
                    {% if request.user|has_group:"Admin" %}
                        <td style="vertical-align: middle;">
                            <a href="/shop/orders/{{order.id}}/status/2/" class="btn btn-sm btn-success" title="Complete the order">
                                <i class="bi bi-check-lg"></i>
                            </a>
                            <a href="/shop/orders/{{order.id}}/status/3/" class="btn btn-sm btn-warning" title="Cancel order">
                                <i class="bi bi-x-lg"></i>
                            </a>
                            <a href="/shop/orders/{{order.id}}/status/4/" class="btn btn-sm btn-danger" title="Delete order">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}